<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<h1>The Dark Side of the Rainbow</h1>

<h2>View Albums</h2>

<a href="/admin/" class="btn btn-outline-success">Back to Admin Homepage</a><br><br>

<table class="table table-hover table-light">
    <thead>
    <tr>
        <th>Album ID</th>
        <th>Album name</th>
        <th>Artist</th>
        <th>Date Released</th>
        <th>Genre</th>
        <th>Number of Tracks</th>
        <th>Price</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="album: ${albums}">
        <td th:text="${album.getAlbumID()}"></td>
        <td th:text="${album.getTitle()}"></td>
        <td th:text="${album.getArtist()}"></td>
        <td th:text="${album.getDateReleased()}"></td>
        <td th:text="${album.getGenre()}"></td>
        <td th:text="${album.getNoOfTracks()}"></td>
        <td th:text="${album.getPrice()}"><td>
        <td>
            <a th:href="'/admin/albums/edit/' + ${album.getAlbumID()}" class="btn btn-warning">Edit</a>
        </td>
        <td>
            <a th:href="'/admin/albums/delete/' + ${album.getAlbumID()}" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    <tr th:if="${albums.size() == 0}">
        <td colspan="7">No albums were found.</td>
    </tr>
    </tbody>
</table>
</body>
</html>